/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@font-face {
    font-family: "Molen Friend Demo";
    src: url("fonts/Molen Friend Demo.otf") format("opentype");
}

@font-face {
    font-family: "FranxurterTotallyMedium";
    src: url("fonts/FranxurterTotallyMedium-gxwjp.ttf") format("truetype");
}


/* General */

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    background: #131619;
    color: #ffffff;
    line-height: 1.4;
}

/* Website Title */

header h1 {
    font-family: "Molen Friend Demo", sans-serif;
    color: #94e149;
}

/* Navigation */
nav a {
    font-family: "FranxurterTotallyMedium", sans-serif;
}

/* Headings */

h2,
h3 {
    font-family: "FranxurterTotallyMedium", sans-serif;
    color: #94e149;
}

.hero h2 {
    font-family: "Molen Friend Demo", sans-serif;
    color: #94e149;
    font-size: 48px;
    margin-bottom: 15px;
}

/* Normal Paragraph Text */

p {
    font-family: "DM Sans", sans-serif;
    line-height: 1.4;
}

/* Header */

header {
    background: #292f34;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0 0 15px;
}


/* Navigation */

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


/* Main */

main {
    max-width: 1000px;
    margin: auto;
}


/* Sections */

section {
    padding: 60px 30px;
    margin: 30;
}

section h2 {
    font-size: 32px;
}


/* Hero */

.hero {
    text-align: center;
    padding: 100px 30px;
    margin: 30px;
    background-image: linear-gradient(rgba(19, 22, 25, 0.3), rgba(19, 22, 25, 0.5)),
                      url("images/HallPassTitle.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 20px;
    max-width: 600px;
    margin: auto;
}


/* Button */

.button {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 25px;
    border: none;
    background: #94e149;
    color: white;
    font-family: "FranxurterTotallyMedium", sans-serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    transition: transform 0.2s, background 0.2s;
}

.button:hover {
    background: #d2ffa4;
    transform: translateY(-3px);
}

a {
    color: #94e149;
    text-decoration: none;
}

a:hover {
    color: #d2ffa4;
}

/* Devlog Buttons */

.devlog-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* Devlog */

.devlog-post {
    background: #292f34;
    padding: 25px;
    margin-top: 20px;
    border-radius: 8px;
}

.devlog-post h3 {
    margin-top: 0;
}

.devlog-link {
    color: inherit;
    text-decoration: none;
    display: block;
}

.devlog-post:hover {
    transform: translateY(-5px);
    background: #3E4448;
}

.date {
    color: #d2ffa4;
}


/* Characters */

.character-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.character {
    background: #292f34;
    padding: 20px;
    width: 200px;
    border-radius: 8px;
}

.media-gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.media-gallery img {
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
}

/* Footer */

footer {
    background: #292f34;
    color: white;
    text-align: center;
    padding: 30px;
}


